<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content= @ViewBag.Description/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="background-color:#c3c388">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("+30yrs. Of Experience...", "Index", "Home", new { area = "" },
               new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">Home<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            
                            @*<li>@Html.ActionLink("Photos", "Photos", "Home")</li>
                            <li>@Html.ActionLink("Videos", "Videos", "Home")</li>*@
                            
                            <li>
                                <a href="https://www.facebook.com/NorthernHandyman/">
                                    Find Us On Facebook
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="https://www.youtube.com/channel/UChXDFd0JzBEE8p3rWqmUDKQ">
                                    Find Our Videos On Youtube
                                </a>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("TheNorthernHandyMan", "Index", "Home")</li>

                        </ul>
                    </li>
               
                    <li class="active">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Services", "Services", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Photos", "Photos", "Home")</li>
                        <li>@Html.ActionLink("Videos", "Videos", "Home")</li>

                    </ul>
            </div>
        </div>
</nav>
    @RenderBody()
    <footer>       
        <section id="sp-footer-navigation" style="background-color:black">
            <div class="container">
                <div class="row">
                    <div id="sp-footer1" class="col-sm-6 col-md-4">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <div class="sp-module-content">
                                    <div class="custom">
                                        <div class="site-info">
                                            <br />
                                            <br />
                                            <br />

                                            <h3 class="footer-title" style="color:white">+30yrs OF EXPERIENCE</h3>
                                            <div class="award">
                                                <a class="expertise-award cleanslate" style="background-color:transparent!important; border:0px!important;" href="http://www.expertise.com/wi/milwaukee/landscaping" target="_blank">
                                                    <span class="laurels" style="font-size:16px!important;">
                                                        <img src="//cdn.expertise.com/award-inverse.svg" alt="Best Landscapers in Milwaukee" width="200">
                                                        <span class="expertise-title" style="width:50%!important;left:25%!important;">

                                                        </span>
                                                        <span> </span>
                                                        <span style="color:#fff!important;" class="expertise-year">2016</span>
                                                    </span>
                                                </a>
                                                <script type="text/javascript">/* <![CDATA[ */ (function(){var l=document.createElement("link"); l.href="//cdn.expertise.com/award.2.1.css"; l.type="text/css"; l.rel="stylesheet"; l.media="screen,print"; document.getElementsByTagName("head")[0].appendChild(l);})(); /* ]]> */</script>
                                            </div>
                                        </div>
                                        <div class="connect-with-us">
                                            <h3 class="footer-title" style="color:white">Connect With Us!</h3>
                                            <a href="https://www.facebook.com/NorthernHandyman/">
                                                <span class="glyphicon glyphicon-user" style="font-size:x-large; background-color:white"></span>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sp-footer2" class="col-sm-6 col-md-4">
                        <div class="sp-column ">
                            <div class="sp-module _menu">
                                <br />
                                <br />
                                <br />
                                <h2 class="sp-module-title" style="color:white">Useful Links</h2><div class="sp-module-content">
                                    <ul class="nav menu">
                                        
                                        
                                       
                                        <li class="item-121"><a href="/">Home</a></li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Services", "Services", "Home")</li>
                                       
                                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                        <li class="item-126"><a href="/login">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><div id="sp-footer3" class="col-sm-6 col-md-4">
                        <div class="sp-column ">
                            <div class="sp-module ">
                                <div class="sp-module-content">
                                    <div class="custom">
                                        <br />
                                        <br />
                                        <br />
                                        <h2 class="footer-title" style="color:white;"> Contact</h2>
                                        <div class="contact-detail">
                                            <span class="glyphicon glyphicon-map-marker" style="color:white"> </span>
                                            N5043 Larry Rd.
                                            New London, WI 54961<br />
                                            <br />
                                            <span class="glyphicon glyphicon-envelope" style="color:white"></span> <a href="mailto:TheNorthernHandyman@gmail.com"> TheNorthernHandyman@gmail.com</a>
                                            <br />
                                            <br />
                                            <span class="glyphicon glyphicon-phone" style="color:white"></span> (920) 277-4947
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div id="sp-copyright" style="text-align:center" class="col-sm-12 col-md-12">
                            <br />
                            <br />
                           
                            <div class="sp-column ">
                                <p> @DateTime.Now.Year -  | TheNorthernHandyman | Snow | Tree Removal | Brush Removal
                                | Brush Hogging | Fire Wood | Limb Removal | Mowing | Stump Grinding | Trimming | Professional
                                | Commercial |
                                <br />
                                Township of New London - Wauapaca County Wisconsin 54961<br />
                                Township of Three Lakes - Oneida County Wisconsin 54562
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
    </footer>
   

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>

</html>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
