<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content= @ViewBag.Description/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

@RenderBody()
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            @* Moblie Menu Button Coding *@
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse"
                          data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
              
              @* End of Moblie Menu Button Coding *@
                  </button>
              
                  @Html.ActionLink("THE NORTHERN HANDYMAN", "Index", "Home", new { area = "" },
                 new { @class = "navbar-brand" })
               
            </div>
           

            @* Nav-Bar Layout across page code *@ 
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    
            @* Buttons *@
                    <li class="active">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Services", "Services", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Photos", "Photos", "Home")</li>
                        <li>@Html.ActionLink("Videos", "Videos", "Home")</li>

               @*Drop-down Button *@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">More
                        @* Down arrow *@ <span class="caret"></span></a>

              @* Items inside the Drop down *@
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="https://www.facebook.com/NorthernHandyman/">
                                    Find Us On Facebook
                                </a>
                            </li>
                        <li class="divider"></li>
                            <li>
                                <a href="https://www.youtube.com/channel/UChXDFd0JzBEE8p3rWqmUDKQ">
                                    Find Our Videos On Youtube
                                </a>
                            <li class="divider"></li>
                        </ul>

               @* End of Drop Down *@ 
                    </li>
                    </ul>
                </div>
            @* End Of Container *@
        </div>
        @* End of Nab-Bar *@
    </nav>

@* Footer *@
    <footer>
        
    @* Logo Colum *@
       <div class="container">
                <div class="row">
                    <div  class="col-sm-5 col-md-4">
                       <br />

                    @* Personalized Logo Hyper-Linked to Facebook *@
                            <a href="https://www.facebook.com/NorthernHandyman/">
                               <img id="FooterLogo" src="~/Images/Filler_ExtraImages/Untitled.png" />
                            </a>
                            <br />
                            <br />

                        @*Bottom Header*@
                            <h3 id="LogoTag">+30yrs OF EXPERIENCE</h3>

     @* End Of Logo Colum *@
                    </div>
           
     @* UseFul Links Colum *@
                    <div class="col-sm-6 col-md-4">                       
                                <br />
                                <br />
                                <br />

                    @* Link-Header *@
                        <h2 id="ColumHeader">Useful Links</h2>

                              @* Vertical Nav-List *@
                                    <ul class="nav menu">
                                        <li class="item-121"><a href="/">Home</a></li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Services", "Services", "Home")</li>
                                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                        <li class="item-126"><a href="/login">Login</a></li>
                                    </ul>

      @*End of Useful Link Colum*@   
                    </div>

      @* Contact Us Colum *@ 
                    <div class="col-sm-6 col-md-4">

                        @*Spacing*@  
                                 <br />
                                 <br />
                                 <br />

            @* Contact Us-Header *@
                        <h2 id="ColumHeader"> Contact Us </h2>

                        @* Location icon/ Address *@      
                                     <span id="ContactIcons" class="glyphicon glyphicon-map-marker"> </span>
                                         N5043 Larry Rd.
                                         New London, WI 54961<br />
                                     <br />

                        @*Mail Icon / Email Address*@
                        <span id="ContactIcons" class="glyphicon glyphicon-envelope">
                        </span> <a TheNorthernHandyman@gmail.com"> TheNorthernHandyman@gmail.com</a>
                                     <br />
                                     <br />

                        @* Phone Icon / Phone Number *@
                        <span id="ContactIcons" class="glyphicon glyphicon-phone"></span> (920) 277-4947
                           <br />                      
                                    
                        @* Connect US Header *@
                            <div >
                                <h3 id="ColumHeader">
                                    Connect With Us!
                                    </h3>

                                    @*Facebook Icon*@
                                    <a href="https://www.facebook.com/NorthernHandyman/">
                                        <span id="Facebook" class="glyphicon glyphicon-user">
                                        </span>
                                    </a>

                                    @* End of Contact Us Header *@
</div>

      @*End of Contact Us Colum*@
                    </div>

           @* End Of Row *@
                </div>

           @* New Row - CopyRight Ending *@
                <div class="row">
                        <div style="text-align:center" class="col-sm-12 col-md-12">
                            <br />
                            <br />
                                <p>
                                    @DateTime.Now.Year - |  
                                    TheNorthernHandyman | Snow | Tree Removal | Brush Removal | Brush Hogging |
                                    Fire Wood | Limb Removal | Mowing | Stump Grinding | Trimming | Professional | Commercial |
                                    <br />
                                    Township of New London - Wauapaca County Wisconsin 54961<br />
                                    Township of Three Lakes - Oneida County Wisconsin 54562
                                </p>
                        </div>
            @* End of Row *@
                    </div>

    @*End of Container*@
        </div>
@* End of Footer *@   
    </footer>
   

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>

</html>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
