<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body style="background-color:#c3c388">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("+30yrs. Of Experience...", "Index", "Home", new { area = "" },
               new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                   

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">Home<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            
                            @*<li>@Html.ActionLink("Photos", "Photos", "Home")</li>
                            <li>@Html.ActionLink("Videos", "Videos", "Home")</li>*@
                            
                            <li>
                                <a href="https://www.facebook.com/NorthernHandyman/">
                                    Find Us On Facebook
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="https://www.youtube.com/channel/UChXDFd0JzBEE8p3rWqmUDKQ">
                                    Find Our Videos On Youtube
                                </a>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("TheNorthernHandyMan", "Index", "Home")</li>

                        </ul>
                    </li>
               
                    <li class="active">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Services", "Services", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Photos", "Photos", "Home")</li>
                        <li>@Html.ActionLink("Videos", "Videos", "Home")</li>

                    </ul>
            </div>
        </div>
</nav>
    @RenderBody()
        <div class="container body-content">
            <hr />           
            <footer style="padding: 0px 0px 65px">

                <a href="https://www.facebook.com/NorthernHandyman/"
                   class="btn btn-warning">Check us out on Facebook! <span class="glyphicon glyphicon-user"></span></a>


                <p style="font-size:medium">
                    
                    <small>
                        &copy; @DateTime.Now.Year -  | TheNorthernHandyman | Snow | Tree Removal | Brush Removal
                        | Brush Hogging | Fire Wood | Limb Removal | Mowing | Stump Grinding | Trimming | Professional
                        | Commercial |
                        <br /></small>
    <small> Township of New London - Wauapaca County Wisconsin 54961<br />
        Township of Three Lakes - Oneida County Wisconsin 54562 &copy; @DateTime.Now.Year<br /></small>
</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>

</html>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>