

@{
    ViewBag.Title = "Photos | TheNorthernHandyman";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Photos
                <small><a href='@Url.Action("Photos", "Home")'>Albums</a></small> |
                @*<small><a href='@Url.Action("AllPhotos", "Home")'>All Photos</a></small>*@
                <small><a href='@Url.Action("Videos", "Home")'>Videos</a></small> |
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6 portfolio-item">
            <a href="#portfolioModal1" 
               class="portfolio-link" 
               data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/StumpGrinding/StumpGrindingCleanup5.jpg" 
                     style="height: 210px; width: 280px" 
                     class="img-responsive" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6 portfolio-item">
            <a href="#portfolioModal2" 
               class="portfolio-link" 
               data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/StumpGrinding/StumpGrinding6.jpg" 
                     style="height: 210px; width: 280px" 
                     class="img-responsive" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6 portfolio-item">
            <a href="#portfolioModal3" 
               class="portfolio-link" 
               data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/StumpGrinding/StumpGrindingCleanup6.jpg" 
                     style="height: 210px; width: 280px" 
                     class="img-responsive" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6 portfolio-item">
            <a href="#portfolioModal4" 
               class="portfolio-link" 
               data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/TreeRemoval/TreeRemovalStart1-4.jpg" 
                     style="height: 210px; width: 280px" 
                     class="img-responsive" />
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3 col-xs-6 portfolio-item">
            <a href="#portfolioModal5" 
               class="portfolio-link" 
               data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/TreeRemoval/TreeRemovalDuring2-4.jpg" 
                     style="height: 210px; width: 280px" 
                     class="img-responsive" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6 portfolio-item">
            <a href="#portfolioModal6" 
               class="portfolio-link" 
               data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x">
                        </i>
                    </div>
                </div>
                <img src="~/Images/TreeRemoval/TreeRemovalCleanUp3-4.jpg" 
                     style="height: 210px; width: 280px" 
                     class="img-responsive" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6 portfolio-item">
            <a href="#portfolioModal7" 
               class="portfolio-link" 
               data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/TreeRemoval/TreeRemovalFinish4-4.jpg" 
                     style="height: 210px; width: 280px" 
                     class="img-responsive" />
            </a>
        </div>
        <div class="col-sm-3 col-xs-6 portfolio-item">
            <a href="#portfolioModal8" 
               class="portfolio-link" 
               data-toggle="modal">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img src="~/Images/Trimming/Trimming_Boom2.jpg"
                     style="height: 210px; width: 280px" 
                     class="img-responsive" />
            </a>
        </div>
    </div>
    <ul class="pager">
        <li class="previous"><a href='@Url.Action("Index","Home")'>Home</a></li>
        <li class="active">
            <a href='@Url.Action("AllPhotos","Home")'>1</a>
        </li>
        <li>
            <a href='@Url.Action("AllPhotosPg2","Home")'>2</a>
        </li>
        <li>
            <a href='@Url.Action("AllPhotosPg3","Home")'>3</a>
        </li>
        <li>
            <a href='@Url.Action("AllPhotosPg4","Home")'>4</a>
        </li>
        <li>
            <a href='@Url.Action("AllPhotosPg5","Home")'>5</a>
        </li>
        <li>
            <a href='@Url.Action("AllPhotosPg6","Home")'>6</a>
        </li>
        <li>
            <a href='@Url.Action("AllPhotosPg7","Home")'>7</a>
        </li>
        
        @*<li>
            <a href="#">&raquo;</a>
        </li>*@
        @*<li class="next"><a href='@Url.Action("Videos", "Home")'>Videos </a></li>*@
    </ul>
</div>

 <!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" 
     id="portfolioModal1" 
     tabindex="-1" 
     role="dialog" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" 
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container_Modal">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body carousel" >
                            <!-- Project Details Go Here -->                           
                            <img class="img-responsive img-centered" 
                                 src="~/Images/StumpGrinding/StumpGrindingCleanup5.jpg">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" 
     id="portfolioModal2" 
     tabindex="-1" 
     role="dialog" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" 
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container_Modal">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                           <img class="img-responsive img-centered" 
                                src="~/Images/StumpGrinding/StumpGrinding6.jpg">
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" 
     id="portfolioModal3" 
     tabindex="-1" 
     role="dialog" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" 
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container_Modal">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                          <img class="img-responsive img-centered" 
                               src="~/Images/StumpGrinding/StumpGrindingCleanup6.jpg">
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" 
     id="portfolioModal4" 
     tabindex="-1" 
     role="dialog" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" 
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                           <img class="img-responsive img-centered" 
                                src="~/Images/TreeRemoval/TreeRemovalStart1-4.jpg">
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" 
     id="portfolioModal5" 
     tabindex="-1" 
     role="dialog" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" 
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                           <img class="img-responsive img-centered"  
                                src="~/Images/TreeRemoval/TreeRemovalDuring2-4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" 
     id="portfolioModal6" 
     tabindex="-1" 
     role="dialog" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" 
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                           <img class="img-responsive img-centered" 
                                src="~/Images/TreeRemoval/TreeRemovalCleanUp3-4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 7 -->
<div class="portfolio-modal modal fade" 
     id="portfolioModal7" 
     tabindex="-1" 
     role="dialog" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" 
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                         <img class="img-responsive img-centered" 
                              src="~/Images/TreeRemoval/TreeRemovalFinish4-4.jpg" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 8 -->
<div class="portfolio-modal modal fade" 
     id="portfolioModal8" 
     tabindex="-1" role="dialog" 
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" 
                 data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                          <img class="img-responsive img-centered" 
                               src="~/Images/Trimming/Trimming_Boom2.jpg">
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>